html {
  height: 100%;
}
body {
  font-family: Verdana, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  padding: 2em 0;
}
h1 {
  text-align: center;
}
table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
  padding: 15px;
}
img {
  width: 100px;
  height: 100px;
}
.urgents {
  background-color: red;
}
.normaux {
  background-color: khaki;
}
.acheter {
  background-color: green;
}
.amis {
  background-color: lightseagreen;
}
nav {
  text-align: center;
}
nav a {
  color: black;
  font-size: 1.2em;
}

nav a:hover {
  color: blue;
}
.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 40vw;
  background-color: burlywood;
  padding: 1.5em;
  border-radius: 0.5em;
  border: solid;
}
.inner-container {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0;
}
.inner-container input {
  flex: 1;
}
.inner-container label {
  flex: 1;
}
.inner-container select {
  flex: 1;
}
.inner-container textarea {
  flex: 1;
}
.button-container {
  margin: 1em;
  text-align: center;
}
.center {
  display: flex;
  justify-content: center;
}
header {
  background-color: black;
  color: white;
  height: 10vh;
}
footer {
  background-color: black;
  color: white;
  height: 20vh;
  margin-top: auto;
}

header ul {
  display: flex;
  list-style: none;
}
header ul li {
  margin: 0.5em;
}
footer ul {
  display: flex;
  flex-direction: column;
  align-content: center;
  list-style: none;
  margin: 0;
  height: 100%;
  justify-content: space-evenly;
  min-height: 20vh;
  padding: 0;
}
footer ul li {
  padding: 0.1em;
}
nav {
  margin: 0;
}
.lien   {
    padding-top: 1em;
}